.main-menu {
  display: inline-block;
  font-family: 'Lato', Arial, sans-serif;
}
.main-menu > li {
  position: relative;
}
.main-menu a {
  display: block;
  padding: 0 20px;
  color: #677999;
  font-size: 14px;
}
.main-menu ul.l-inline > li:hover > a,
.main-menu ul.l-inline > li.current-menu-item > a {
  background-color: #273144;
  color: #ffffff;
}
.header-assets .main-menu {
  line-height: normal;
  vertical-align: text-bottom;
}
.header-assets .main-menu li {
  margin-right: 40px;
}
.header-assets .main-menu a {
  color: #a3a2a2;
  padding: 0px;
}
.header-assets .main-menu ul.l-inline > li:hover > a,
.header-assets .main-menu ul.l-inline > li.current-menu-item > a {
  background-color: transparent;
  color: #75b11f;
}
.header-assets .menu-center li {
  margin: 0 20px;
}
.main-menu .header6 {
  line-height: 56px;
}
.main-menu .header6 a {
  border-top: 2px solid transparent;
}
.main-menu .header6 > li:hover > a,
.main-menu .header6 > li.current-menu-item > a {
  border-top: 2px solid #75b11f;
}
.hv4 .sub-menu {
  text-align: left;
}
.hv4 .sub-menu li {
  margin-left: 0;
  margin-right: 0;
}
.hv4 .sub-menu li a {
  padding-right: 80px;
  padding-left: 35px;
}
.hv5 .sub-menu {
  text-align: left;
}
.hv5 .sub-menu li {
  margin-left: 0;
  margin-right: 0;
}
.hv5 .sub-menu li a {
  padding-right: 80px;
  padding-left: 35px;
}
.hv5 li.mint-extended .sub-menu {
  margin-top: -16px;
}
.hv5 li.mint-extended .sub-menu .sub-menu {
  margin-top: 0px;
}
.main-menu li {
  position: relative;
}
.main-menu li:hover > .sub-menu {
  display: block;
}
.sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;
  width: auto;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  border-top: 3px solid #7dbd22;
  padding-bottom: 10px;
}
.sub-menu li {
  float: none;
  width: 100%;
  line-height: 35px;
}
.sub-menu a {
  color: #a3a2a2;
  font-size: 12px;
  white-space: nowrap;
  padding-right: 80px;
  padding-left: 35px;
}
.sub-menu li:before {
  content: "";
  position: absolute;
  left: 7px;
  top: 50%;
  margin-top: -2.5px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #a3a2a2;
  margin-left: 17px;
}
.sub-menu li:hover a,
.sub-menu li.current-menu-item a {
  background: #f7f7f7;
  color: #484747;
}
.sub-menu li:hover:before {
  background-color: #7dbd22;
}
ul.sub-menu ul.sub-menu {
  display: none;
  left: 100%;
  top: 0;
  border-top: 1px solid #eeeeee;
}
ul.sub-menu ul.sub-menu a {
  background: none;
  color: #a3a2a2;
}
ul.sub-menu ul.sub-menu li:hover a {
  background: #f7f7f7;
  color: #484747;
}
.main-menu li.mint-extended {
  position: static;
}
.main-menu li.mint-extended .sub-menu {
  width: 100%;
}
.main-menu li.mint-extended .sub-menu a {
  padding-left: 25px;
  padding-right: 20px;
}
.main-menu li.mint-extended .sub-menu li {
  float: left;
  line-height: 40px;
  padding-top: 10px;
}
.main-menu li.mint-extended .sub-menu li:before {
  display: none;
}
.main-menu li.mint-extended .sub-menu li a {
  color: #484747;
  font-size: 14px;
  background: none;
}
.main-menu li.mint-extended.mint-menu-col2 .sub-menu li {
  width: 50%;
}
.main-menu li.mint-extended.mint-menu-col2 .sub-menu li:nth-child(2n + 1) {
  clear: left;
}
.main-menu li.mint-extended.mint-menu-col3 .sub-menu li {
  width: 33.33333333333333%;
}
.main-menu li.mint-extended.mint-menu-col3 .sub-menu li:nth-child(3n + 1) {
  clear: left;
}
.main-menu li.mint-extended.mint-menu-col4 .sub-menu li {
  width: 25%;
}
.main-menu li.mint-extended.mint-menu-col4 .sub-menu li:nth-child(4n + 1) {
  clear: left;
}
.main-menu li.mint-extended.mint-menu-col5 .sub-menu li {
  width: 20%;
}
.main-menu li.mint-extended.mint-menu-col5 .sub-menu li:nth-child(5n + 1) {
  clear: left;
}
.main-menu li.mint-extended.mint-menu-col6 .sub-menu li {
  width: 16.66666666666667%;
}
.main-menu li.mint-extended.mint-menu-col6 .sub-menu li:nth-child(6n + 1) {
  clear: left;
}
.main-menu li.mint-extended .sub-menu .sub-menu {
  position: static;
  left: 0;
  top: -10px;
  border: none;
  width: 100%;
  display: block;
}
.main-menu li.mint-extended .sub-menu .sub-menu li {
  float: none !important;
  width: 100%;
  line-height: 35px;
  padding-top: 0px;
}
.main-menu li.mint-extended .sub-menu .sub-menu li a {
  color: #a3a2a2;
  padding-left: 38px;
  font-size: 12px;
}
.main-menu li.mint-extended .sub-menu .sub-menu li:hover a,
.main-menu li.mint-extended .sub-menu .sub-menu li.current-menu-item a {
  color: #484747;
  background: #f7f7f7;
}
.main-menu li.mint-extended .sub-menu .sub-menu li:before {
  display: block;
  margin-left: 18px;
}
.mint-menu-hide-bullets li:before {
  display: none !important;
}
header.stuck {
  opacity: 0.95;
}
.menu-shadow {
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
  border-bottom: 0px !important;
  -o-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}
.menu-shadow-flat {
  -webkit-box-shadow: inset 0px -4px 0px #273144;
  -moz-box-shadow: inset 0px -4px 0px #273144;
  box-shadow: inset 0px -4px 0px #273144;
}
