#megaMenu ul.megaMenu li.menu-item.ss-nav-menu-reg > li.megaReg-with-sub > a::after,
#megaMenu ul.megaMenu li.menu-item.mega-with-sub > a::after,
#megaMenu ul.megaMenu li.menu-item.ss-nav-menu-mega > a::after,
#megaMenu ul.megaMenu li.menu-item.ss-nav-menu-reg li.megaReg-with-sub > span.um-anchoremulator::after,
#megaMenu ul.megaMenu li.menu-item.mega-with-sub > span.um-anchoremulator::after,
#megaMenu ul.megaMenu li.menu-item.ss-nav-menu-mega > span.um-anchoremulator::after {
  display: none;
  border: none !important;
}
#megaMenu ul.megaMenu li.menu-item.ss-nav-menu-reg ul.sub-menu li.menu-item.megaReg-with-sub > a,
#megaMenu ul.megaMenu li.menu-item.ss-nav-menu-reg ul.sub-menu li.menu-item.megaReg-with-sub > span.um-anchoremulator,
#megaMenu ul.megaMenu li.menu-item.mega-with-sub > a,
#megaMenu ul.megaMenu li.menu-item.mega-with-sub > span.um-anchoremulator,
#megaMenu ul.megaMenu li.menu-item.ss-nav-menu-mega > a,
#megaMenu ul.megaMenu li.menu-item.ss-nav-menu-mega > span.um-anchoremulator {
  padding-right: 15px;
}
#megaMenu {
  display: inline-block;
}
#megaMenu > li {
  position: relative;
}
#megaMenu a {
  display: block;
  padding: 0 20px !important;
  color: #677999;
  font-size: 14px;
}
#megaMenu ul#megaUber > li:hover > a,
#megaMenu ul#megaUber > li.current-menu-item > a {
  background-color: #273144;
  color: #ffffff;
}
.header-assets #megaMenu {
  line-height: normal;
  vertical-align: text-bottom;
}
.header-assets #megaMenu li {
  margin-right: 40px;
}
.header-assets #megaMenu a {
  color: #a3a2a2;
  padding: 0px;
}
.header-assets #megaMenu ul#megaUber > li:hover > a,
.header-assets #megaMenu ul#megaUber > li.current-menu-item > a {
  background-color: transparent;
  color: #7cb927;
}
.header-assets .menu-center li {
  margin: 0 20px;
}
#menu-uber[data-header="1"] #megaMenu #megaUber li a {
  height: 86px;
}
#menu-uber[data-header="1"] #megaMenu #megaUber li a span {
  line-height: 86px;
}
#menu-uber[data-header="1"] #megaMenu {
  float: right;
}
#menu-uber[data-header="2"] #megaMenu #megaUber li a {
  height: 86px;
}
#menu-uber[data-header="2"] #megaMenu #megaUber li a span {
  line-height: 86px;
}
#menu-uber[data-header="2"] #megaMenu {
  float: right;
}
#menu-uber[data-header="3"] #megaMenu #megaUber li a {
  height: 86px;
}
#menu-uber[data-header="3"] #megaMenu #megaUber li a span {
  line-height: 86px;
}
#menu-uber[data-header="3"] #megaMenu {
  float: right;
}
#menu-uber[data-header="4"] #megaMenu #megaUber > li:first-child a {
  padding-left: 0px !important;
}
#menu-uber[data-header="4"] #megaMenu #megaUber li a {
  height: 47px;
}
#menu-uber[data-header="4"] #megaMenu #megaUber li a span {
  line-height: 47px;
}
#menu-uber[data-header="5"] #megaMenu #megaUber li a {
  height: 47px;
}
#menu-uber[data-header="5"] #megaMenu #megaUber li a span {
  line-height: 47px;
}
#menu-uber[data-header="5"] #megaMenu {
  position: absolute;
  left: 50%;
  margin-left: -32%;
}
#menu-uber[data-header="6"] #megaMenu #megaUber li a {
  height: 56px;
}
#menu-uber[data-header="6"] #megaMenu #megaUber li a span {
  line-height: 56px;
}
#menu-uber[data-header="6"] #megaMenu {
  float: right;
}
#menu-uber[data-header="6"] #megaMenu #megaUber {
  line-height: 56px;
}
#menu-uber[data-header="6"] #megaMenu #megaUber a {
  border-top: 2px solid transparent;
}
#menu-uber[data-header="6"] #megaMenu #megaUber > li:hover > a,
#menu-uber[data-header="6"] #megaMenu #megaUber > li.current-menu-item > a {
  border-top: 2px solid #7cb927;
}
#menu-uber[data-header="7"] #megaMenu #megaUber li a {
  height: 86px;
}
#menu-uber[data-header="7"] #megaMenu #megaUber li a span {
  line-height: 86px;
}
#menu-uber[data-header="7"] #megaMenu {
  float: right;
}
#menu-uber #megaMenu #megaUberu li {
  position: relative;
}
#megaMenu ul li.menu-item.ss-nav-menu-mega ul li.menu-item.ss-nav-menu-item-depth-1 {
  padding: 0 !important;
}
.sub-menu-1 {
  background-color: #ffffff !important;
  border: 1px solid #eeeeee !important;
  border-top: 3px solid #7dbd22 !important;
}
#menu-uber #megaMenu #megaUber li .sub-menu-1 li a {
  height: 35px;
  color: #484747;
  font-size: 13px;
}
#menu-uber #megaMenu #megaUber li .sub-menu-1 li a span {
  line-height: 35px;
}
#menu-uber #megaMenu #megaUber li .sub-menu-2 li a {
  position: relative;
  color: #a3a2a2;
  height: 27px;
}
#menu-uber #megaMenu #megaUber li .sub-menu-2 li a span {
  line-height: 27px;
}
#menu-uber #megaMenu #megaUber li .sub-menu-2 li {
  background: #ffffff;
}
#menu-uber #megaMenu #megaUber li .sub-menu-2 li:hover a {
  background: #f7f7f7;
  color: #484747;
}
